In [36]:
import requests
import json

In [37]:
import pandas as pd
md_biz = pd.read_csv('md_biz_reviews')

In [38]:
import sys
print(sys.path)

['/Users/jaclynhenn/Desktop/Project_Phase_1', '/Users/jaclynhenn/opt/anaconda3/envs/learn-env/lib/python38.zip', '/Users/jaclynhenn/opt/anaconda3/envs/learn-env/lib/python3.8', '/Users/jaclynhenn/opt/anaconda3/envs/learn-env/lib/python3.8/lib-dynload', '', '/Users/jaclynhenn/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages', '/Users/jaclynhenn/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/extensions', '/Users/jaclynhenn/.ipython']

In [39]:
#client_id = ____
api_key = #your api key

In [40]:
headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

In [28]:
response = requests.get(url, headers=headers)
#N:request package 
#N:created headers above
#N:create web addres gives us all

In [20]:
def yelp_call(url_param):
    response = requests.get(url, headers=headers, params=url_params)
    return response.json()['businesses']

In [ ]:
def parse_data(list_of_data):
    # create a container to hold our parsed data
    reviews = []
    # loop through our business and 
    for review in list_of_data:
    # parse each individual business into a tuple
        review_tuple = (review['rating'], 
                        review['text'])
    # add each individual business tuple to our data container
        reviews.append(review_tuple)
    # return the container with all of the parsed results
    return reviews

In [29]:
for business in biz_info['id']: 
    url =  'https://api.yelp.com/v3/businesses/{}/reviews'.format(business)
    response = requests.get(url, headers=headers)
    data = response.json()
    parse_data(data['reviews'])

NameError: name 'biz_info' is not defined

In [47]:
total_data = []
for business in md_biz['id']:
    url = 'https://api.yelp.com/v3/businesses/{}/reviews'.format(business)
    response = requests.get(url, headers=headers)
    data = response.json()
    try:
        rev0 = data['reviews'][0]['text']
        rat0 = data['reviews'][0]['rating']
        time0 = data['reviews'][0]['time_created']
        rev1 = data['reviews'][1]['text']
        rat1 = data['reviews'][1]['rating']
        time1 = data['reviews'][1]['time_created']
        rev2 = data['reviews'][2]['text']
        rat2 = data['reviews'][2]['rating']
        time2 = data['reviews'][2]['time_created']
    except:
        rev0 = None
        rat0 = None
        time0 = None
        rev1 = None
        rat1 = None
        time1 = None
        rev2 = None
        rat2 = None
        time2 = None
    biz_tuple =(business,
               rat0,
               rev0,
               time0,
               rat1,
               rev1,
               time1,
               rat2,
               rev2,
               time2)
    total_data.append(biz_tuple)

In [48]:
len(total_data)

572

In [49]:
Rev_df = pd.DataFrame(total_data, columns = ['id','Rating_1', 'Review_1', 'Time_Created_1', 'Rating_2', 'Review_2', 'Time_Created_2', 'Rating_3', 'Review_3', 'Time_Created_3'])

In [50]:
Rev_df

,id,Rating_1,Review_1,Time_Created_1,Rating_2,Review_2,Time_Created_2,Rating_3,Review_3,Time_Created_3
0,smTFfg1g_BjsUkorL_ZxLQ,5.0,Yup I went to heaven and back. First time here...,2020-12-19 09:33:31,5.0,BLUF: Oh my crispy Lechon! Months later and my...,2020-11-01 09:33:12,5.0,So happy that I finally got the chance to go h...,2020-09-21 15:20:05
1,9nhzaAX6BdbgF4u2Zxi9RA,5.0,I've been a customer of Kusshi since they open...,2020-11-16 17:16:22,5.0,"Fast forward almost 2 years later, I am back a...",2020-08-19 08:31:11,5.0,My new favorite sushi spot! It's a little tuck...,2020-07-23 22:57:51
2,OaI2Mh2fXj_RUq7hnGV_iQ,5.0,Today was my second time visiting Nada (first ...,2021-01-16 13:40:35,5.0,I have been in this place twice during the pan...,2020-12-02 06:26:31,5.0,I'm updating my review to 5 stars because I've...,2020-11-08 17:46:19
3,UYffA9zyxFnu8E0T2hqoNw,5.0,I love this place. It was my first time here a...,2020-12-22 17:13:08,5.0,We ordered from Akira many times and they neve...,2021-02-14 08:08:32,5.0,Akira is open for dine in and take out options...,2020-07-27 11:33:02
4,ExMamAA8DqKpvwupNLdCgQ,5.0,My second time at K Pot and they definitely st...,2020-09-27 15:42:22,5.0,This is our family's favorite Korean BBQ and h...,2020-08-29 19:18:45,5.0,"Welp, I think I've found a new favorite KBBQ s...",2020-10-10 10:13:34
...,...,...,...,...,...,...,...,...,...,...
567,5UtO2yZ7DhK5pZ3KxZv7Wg,4.0,This is hard to find it's in Glen Echo Park. I...,2019-11-14 18:51:16,3.0,"Things I love: Moose tracks ice cream, nice ba...",2019-06-04 09:50:31,3.0,It's great that Praline provides some of its b...,2018-10-21 16:34:47
568,l0prEdAqMFvQXRm1dHmIEA,NaN,None,None,NaN,None,None,NaN,None,None
569,jtN1g6nvsQIubYFDt8OYaw,NaN,None,None,NaN,None,None,NaN,None,None
570,joY2tjvlNqrdPfk0UTW4IQ,1.0,Do not order the Mondongo soup is horrible and...,2014-07-02 06:29:55,1.0,It's degrading I don't understand in the middl...,2016-01-14 21:16:05,4.0,Yum! Seriously. Excellent papusas (I got them ...,2012-10-08 13:57:54
571,AZQn_LIn650udstIkfsi8g,1.0,"Fiancée asked for the wine list, but after she...",2009-04-30 03:45:47,3.0,Re-visited Capital Bleu after 6 months and hav...,2009-07-14 09:47:17,1.0,This place is just completely ridiculous! The ...,2012-02-12 14:51:09

In [53]:
Rev_df.to_csv('md_reviews')