In [1]:
import requests
import json
import pandas as pd

In [2]:
api_key = 'fUBBJgiOWpedgWkBUggG90ZFbKGzDJqzymL4N0zU2k4kAZYnztUx5v2ZOSBQWTO-ux8_lnoBUMdtLcxRTkTw6XJTu8iIJbPUgwSUFvKgl-LCKa94xO5Y3lvQXT0kYHYx'

In [3]:
headers = {
        'Authorization': 'Bearer {}'.format(api_key),
    }

In [4]:
id = 'sbvdYH8FKx5Am63EgZoPgw'

In [5]:
url = 'https://api.yelp.com/v3/businesses/{}/reviews'.format(id)

In [6]:
response = requests.get(url, headers=headers)

In [7]:
data = response.json()

In [8]:
data

{'reviews': [{'id': '4b6n8d9gvDwgsNAcU53LTg',
   'url': 'https://www.yelp.com/biz/basic-burger-arlington?adjust_creative=NVrFd9KghQJUWaZqk3cltQ&hrid=4b6n8d9gvDwgsNAcU53LTg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=NVrFd9KghQJUWaZqk3cltQ',
   'text': "Tried out this 'Basic Bacon Burger' but there was nothing basic about it. The patty was thick and juicy. And the applewood smoked bacon with there homemade...",
   'rating': 5,
   'time_created': '2020-12-09 19:02:20',
   'user': {'id': '8f6LosVLeCykQUz3WW-mIQ',
    'profile_url': 'https://www.yelp.com/user_details?userid=8f6LosVLeCykQUz3WW-mIQ',
    'image_url': 'https://s3-media4.fl.yelpcdn.com/photo/Wa5y_jmOKD-xcAgZxifOmw/o.jpg',
    'name': 'Maria O.'}},
  {'id': 'HMaSwFqAg5LrKexvVsLHgw',
   'url': 'https://www.yelp.com/biz/basic-burger-arlington?adjust_creative=NVrFd9KghQJUWaZqk3cltQ&hrid=HMaSwFqAg5LrKexvVsLHgw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=NVrFd9KghQJUWaZqk3cltQ',
   'text': 'I have picked up food from Basic Burger a few times when in the area during the pandemic and I continue to be impressed!!  They are continuing to following...',
   'rating': 5,
   'time_created': '2020-11-19 17:36:56',
   'user': {'id': '2BeZW4_osTt4I9xkrSdktA',
    'profile_url': 'https://www.yelp.com/user_details?userid=2BeZW4_osTt4I9xkrSdktA',
    'image_url': 'https://s3-media2.fl.yelpcdn.com/photo/s8DAD-xJ9JjLAaC5BlyCEQ/o.jpg',
    'name': 'Keisha L.'}},
  {'id': 'Yp7TjLLLaqQ5HI76esqItg',
   'url': 'https://www.yelp.com/biz/basic-burger-arlington?adjust_creative=NVrFd9KghQJUWaZqk3cltQ&hrid=Yp7TjLLLaqQ5HI76esqItg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_reviews&utm_source=NVrFd9KghQJUWaZqk3cltQ',
   'text': "I've had Basic Burger many times pre-covid, and it has always been great! I've been very impressed with how they are managing during covid closures. You can...",
   'rating': 5,
   'time_created': '2020-05-03 15:56:17',
   'user': {'id': '6k0UO-9vsutym7Er1vbRIA',
    'profile_url': 'https://www.yelp.com/user_details?userid=6k0UO-9vsutym7Er1vbRIA',
    'image_url': 'https://s3-media4.fl.yelpcdn.com/photo/qyLNyjxOONEXm0rAOHbQDw/o.jpg',
    'name': 'Remy K.'}}],
 'total': 355,
 'possible_languages': ['en']}

In [9]:
va_biz = pd.read_csv('va_biz_reviews')

In [11]:
va_biz[va_biz['Review_Count']  <3]

,Unnamed: 0,id,Name,Review_Count,Categories,Rating,Price,Address,state
549,726,iiFsCZCArcxd4CIfxSsVuA,Akmal's Kitchen,2,"['Indian', 'Afghan']",3.0,$$,"['5171 Lee Hwy', 'Arlington, VA 22207']",VA
556,735,pEq6qVhqslcBLODA60KKaw,Santa Ana Restaurant,1,['Restaurants'],4.0,$$,"['2599 Columbia Pike', 'Arlington, VA 22204']",VA
560,740,wvPMnl_cxAYlVKReGvcFYg,Cafe 59,2,['Delis'],4.0,$$,"['2450 Crystal Dr', 'Ste 114', 'Arlington, VA ...",VA
565,746,BHDWXktcVZyGLb0rvr52zg,New Dynasty Restaurant Carryout,1,['Restaurants'],4.0,$$,"['7511 Leesburg Pike', 'Falls Church, VA 22043']",VA
566,747,626QtedNFFwJZ9XwztrWUg,Organic To Go,2,['American (New)'],2.5,$$,"['1100 Wilson Blvd', 'Arlington, VA 22209']",VA
567,748,f6Yp7u16mwe8_cUH2AGVOw,Farm Credit Administration Building Cafeteria,1,"['Fast Food', 'Cafeteria', 'Sandwiches']",4.0,$$,"['1501 Farm Credit Dr', 'McLean, VA 22102']",VA
568,749,msC64xuXjejENTeZE9FB8w,Venezia's Gourmet Pizzeria,1,"['Italian', 'Pizza']",2.0,$$,"['446 Calvert Ave', 'Alexandria, VA 22301']",VA

In [16]:
total_data = []
for business in va_biz.loc[:,'id']:
    url = 'https://api.yelp.com/v3/businesses/{}/reviews'.format(business)
    response = requests.get(url, headers=headers)
    data = response.json()
    try:
        rev0 = data['reviews'][0]['text']
        rat0 = data['reviews'][0]['rating']
        time0 = data['reviews'][0]['time_created']
        rev1 = data['reviews'][1]['text']
        rat1 = data['reviews'][1]['rating']
        time1 = data['reviews'][1]['time_created']
        rev2 = data['reviews'][2]['text']
        rat2 = data['reviews'][2]['rating']
        time2 = data['reviews'][2]['time_created']
    except:
        rev1 = None
        rat1 = None
        rev2 = None
        rat2 = None
        rev0 = None
        rat0 = None
        time0 = None
        time1 = None
        time2 = None
    biz_tuple =(business,
               rat0,
               rev0,
               time0,
               rat1,
               rev1,
               time1,
               rat2,
               rev2,
               time2)
    total_data.append(biz_tuple)

In [17]:
va_reviews_df = pd.DataFrame(total_data, columns = ['id','Rating_1', 'Review_1', 'Time_Created_1', 'Rating_2', 'Review_2', 'Time_Created_2', 'Rating_3', 'Review_3','Time_Created_3'])

In [18]:
va_reviews_df

,id,Rating_1,Review_1,Time_Created_1,Rating_2,Review_2,Time_Created_2,Rating_3,Review_3,Time_Created_3
0,Vg0-NSHUe0wNASHTqv0GfQ,5.0,Sushi2go is still open during the COVID-19 pan...,2020-07-30 22:28:46,5.0,The name will scare you if you let it. When I ...,2020-06-13 18:01:09,5.0,One of the best sushi spots in the Arlington a...,2020-08-22 14:02:47
1,duer52a0aMheoSXUNZmnTQ,4.0,"5 stars for Peking duck, 3 stars for the other...",2020-11-26 14:02:48,5.0,Fantastic Peking duck in the DMV area. Stamp o...,2020-12-22 09:49:06,5.0,You know how you can judge how good a bakery i...,2020-07-30 10:52:32
2,RCEBOEAvyqU63CPfdBOgUg,5.0,Duangrats has always been a favorite Thai plac...,2020-12-11 18:46:37,4.0,During this pandemic it has been hard to do MA...,2020-05-22 17:10:43,5.0,The food is amazing!!!! I took out Thai rice...,2021-01-11 17:02:47
3,Bb5Gu3zUSnZ59PQNuyTfNw,5.0,My wife and I were looking for a place where w...,2020-11-14 17:24:35,5.0,I reached out to the Rustico Restaurant in Arl...,2020-04-15 09:41:57,5.0,New outdoor beer garten is lovely. Plenty of s...,2020-07-11 05:43:36
4,v8Osqs0OKQfWw4Yo0Oauwg,5.0,Ridiculously tasty - worth every cent!\n\nI've...,2020-09-03 17:35:40,5.0,I always saw this place riding down 50 and the...,2020-05-05 19:33:54,5.0,Amazing fresh homemade food!!! The decor and s...,2020-10-01 21:34:41
...,...,...,...,...,...,...,...,...,...,...
564,NAz7Hs-1Pdv0sLOWC3AUaQ,2.0,Four of us came here for lunch awhile back and...,2009-01-28 10:58:06,3.0,Just opened. New addition to the restaurant r...,2007-05-30 16:45:40,2.0,I was really looking forward to the yucca we o...,2009-03-16 16:08:25
565,BHDWXktcVZyGLb0rvr52zg,NaN,None,None,NaN,None,None,NaN,None,None
566,626QtedNFFwJZ9XwztrWUg,NaN,None,None,NaN,None,None,NaN,None,None
567,f6Yp7u16mwe8_cUH2AGVOw,NaN,None,None,NaN,None,None,NaN,None,None
568,msC64xuXjejENTeZE9FB8w,NaN,None,None,NaN,None,None,NaN,None,None

In [19]:
va_reviews_df.to_csv('va_reviews')